@media (min-width: 760px) {
    .articleContent{
        width: 760px;
    }
}
@media (max-width: 760px) {
    .articleContent{
        width: 100%;
    }
}
.adjacentArticlesContainer{
    display: flex;
    justify-content: space-between;
}
.articleContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    line-height: 1.8; /* Adjust this value to control the line spacing */
    font-size:larger;
    font-weight: 500;
}
.pageContainer{
    display:flex;
    justify-content:space-evenly;
    align-items: center;

}
.articleContent{
    align-items: start;
    

}
li{
    margin-top:10px;
}
