.articleHeader{
    width: 40%;
}
.articleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    line-height: 1.8; /* Adjust this value to control the line spacing */
    font-size:larger;
    font-weight: 500;
}
.articleHeader{
    align-items: start;
}
li{
    margin-top:10px;
}
