:root{
    --rowHeight:var(--rowHeight);
    --columnWidth:0.33333fr
}

.gridContainer, .blockContainer, .block, .blockText{
    display: flex;
    justify-content: center;
    
}
.grid{
    width: 80%;
    display:grid;
    grid-template-columns: 0.33333fr 0.33333fr 0.33333fr;
    row-gap: 20px;
    column-gap: 20px;
} 
@media (max-width: 800px) {
    /* Styles specific to screens with a width of 600 pixels or less */
    .grid{
        width: 80%;
        display:grid;
        grid-template-columns: 0.5fr 0.5fr;        row-gap: 20px;
        column-gap: 20px;
    } 
}
@media (min-width: 1240px) {
    /* Styles specific to screens with a width of 600 pixels or less */
    .grid{
        width: 80%;
        display:grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        row-gap: 20px;
        column-gap: 20px;
    } 
}
@media (max-width: 650px) {
    /* Styles specific to screens with a width of 600 pixels or less */
    .grid{
        width: 80%;
        display:grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        column-gap: 20px;
    } 
    .block{
        max-width: 300px;
        border-radius: 10px;
        width:80%;
        background-color: red;
        aspect-ratio: 16/12;
    }
}
.blockContainer{
    align-items: center;
    height:fit-content;
}
.block{
    max-width: 300px;
    border-radius: 10px;
    width:80%;
    background-color: rgb(76, 76, 76) ;
    aspect-ratio: 16/12;
    align-items:end;
}
.blockText{
    border:3px solid rgb(76,76,76);
    border-radius: 10px;
    height:27%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    user-select: none;

}